
# Logs
logs
*.log
npm-debug.log*

# Build output
dist/

# Secrets
.env

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# JetBrains
.idea/

# Cli configs
nomo_cli.config.js

# Manifest
out/nomo_manifest.json

# Webon Files
out/nomo.tar.gz

# Cached WebOn Files
cache/